* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/** === LAYOUT ===*/

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em;
}

/** === HEADER ===*/

header {
	background-color: #002E5B;
	color: white;
	font-size: 0.7em;
	padding: 0.5em;
	height: 3em;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icono {
	color: #fdd428;
	margin-right: 0.4em;
}

/** === NAV ===*/

nav {
	background-color: white;
	height: 3em;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-links li {
	list-style: none;
	display: inline;
	margin-right: 1.2em;
	font-size: 0.8em;
}

.nav-links a {
	font-weight: 700;
}

.nav-links a:link,
a:visited,
a:active {
	color: #768fa7;
}

.nav-links a:hover {
	color: #002E5B;
}

a {
	text-decoration: none;
}

.logo {
	width: 15%;
	object-fit: scale-down;
	padding: 0.5em;
}

.dropbtn {
	border: none;
	cursor: pointer;
	color: #768fa7;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 10em;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: rgb(112, 112, 112);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
	display: block;
	color: #768fa7;
}

.dropdown:hover .dropbtn {
	background-color: transparent;
}




/** === HERO ===*/

.hero {
	height: 400px;
	background-image: linear-gradient(to bottom,
			#a2a1ad4d,
			rgba(19, 20, 27, 0.4)),
		url('../img/slide-one.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}

.hero-title {
	color: #002E5B;
	line-height: 0.7em;
	float: left;
	margin: 7em 2em;
}

.hero h1 {
	font-size: 5em;
	text-align: left;
	text-transform: uppercase;
}

.hero h2 {
	font-size: 2em;
	text-align: left;
}

/** === BUSINESS ===*/
.business-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.business {
	background-color: #002E5B;
	padding: 3em 1.5em;
}

.business h2 {
	color: white;
}

.business p {
	color: #e7e7e7;
	font-size: 0.9em;
}

.business-text {
	width: 60vw;
}

.btn-yellow {
	background-color: #fdd428;
	padding: 0.8em 1.2em;
	border: none;
	color: #002E5B;
	width: 10em;
	height: 3em;
	margin: 2em 1em;
}

/** === SERVICES ===*/

.services h2 {
	margin: 2em;
}

.services {
	color: #002E5B;
	text-align: center;
}

.services p {
	color: #888888;
	text-align: left;
}

.service-list {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto auto;
	grid-gap: 5%;
	margin: 3em;
}

ul {
	list-style-type: none;
}

.service-list i {
	font-size: 1.6em;
	width: 2.6em;
	height: 2.6em;
	text-align: center;
	line-height: 2.6em;
	background: #002E5B;
	color: gold;
	border-radius: 50%;
}

.service p {
	font-size: 0.8em;
	text-align: justify;
}

/** === ORGANIZATION ===*/

.organization {
	background-color: #f6f6f6;
	color: #888888;
	text-align: center;
	padding: 2em 2em;
}

.organization h2 {
	color: #002E5B;
}

.grids {
	text-align: left;
	display: flex;
	flex-direction: row;
}

.grids i {
	margin-right: 1em;
	color: #002E5B;
}

.grid-left {
	width: 50%;
	font-size: 0.9em;
}

.grid-right {
	height: 100%;
	object-fit: contain;
	padding: 2em;
}

.list-org {
	margin: 3em 0;
}

.list-org li {
	line-height: 2.3em;
}

/** === PENULTIMO ===*/

.tres {
	background-color: white;
}

.tres-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 2em 0;
}

.oneOfThree {
	width: 30%;
	font-size: 0.8em;
	text-align: justify;
	color: #888888;

}

.oneOfThree h2 {
	color: #002E5B;
	text-align: center;
}

.oneOfThree img {
	width: 15%;
	border-radius: 50%;
	object-fit: scale-down;
	margin-right: 2em;
}

.avatar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 0.8em;
}

.avatar-text h4 {
	color: #002E5B;
	font-size: 1.6em;
	font-weight: 400;
	margin-bottom: 0.5em;
}

.avatar-text p {
	color: gray;
	font-size: 1.2em;
	margin-top: .2em;
}

.testimonial {
	background-color: #efefef;
	padding: 2em;
	position: relative;
}

.testimonial:before {
	content: '';
	position: absolute;
	bottom: 0em;
	right: 0;
	border-width: 2em 2em 0 0;
	border-style: solid;
	border-color: gray #fff;
}


.collapsible {
	background-color: white;
	color: grey;
	cursor: pointer;
	padding: 0.9em;
	border: 1px solid lightgray;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 1em;
	font-weight: 700;
	box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.329);
	margin-bottom: .5em;
}

.active,
.collapsible:hover {
	background-color: rgb(158, 158, 158);
	color: white;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
}

/** === FOOTER ===*/

footer {
	background-color: #002E5B;
	height: auto;
	color: #ffffffe5;
	padding: 2em;
}

footer h3 {
	color: gold;
	text-align: center;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2em;
}

.oneOfFour {
	font-size: 0.8em;
	margin-right: 2em;
	text-align: left;
	width: 23%;
}

.copy {
	font-size: 0.7em;
}

.soc-icon {
	border: 1px solid gold;
	padding: 0.5em;
	margin: 1em 0.5em;
	color: white;
}

.very-last {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


@media only screen and (max-width: 930px) {

	.grids {
		flex-direction: column;
	}

	.grid-left {
		width: 90%;

	}

	.list-org {
		margin: 2em;
	}

	.tres-flex {
		flex-direction: column;
	}

	.oneOfThree {
		width: 90%;
	}

}

@media only screen and (max-width: 500px) {
	.header {
		font-size: 0.8em;
	}

	nav {
		font-size: 0.5em;
	}

	.hero {
		height: 40vh;
	}


	.list-org {
		margin: 2em 1em 1em 1em;
	}

	.hero-title h1 {
		font-size: 3em;
		margin: 0 auto;
		line-height: 1em;
	}

	.hero-title h2 {
		font-size: 1em;
	}

	.business {
		padding: 1em;
	}

	.business-flex {
		flex-direction: column;
		width: 90%;
	}

	.business-text {
		width: 80vw;
	}

	.service-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em 0;
		margin: 0 auto;
		width: 90%;
	}

	.service {
		width: 90%;
		margin: 0 auto;
	}

	.grids {
		flex-direction: column;
		align-items: center;
	}

	.grid-left {
		width: 90%;
	}

	.grid-right {
		width: 90vw;
	}

	.tres-flex {
		flex-direction: column;
	}

	.oneOfThree {
		width: 90%;
	}

	footer {
		height: auto;
		padding: 0 1em;
	}

	.footer {
		flex-direction: column;
	}

	.oneOfFour {
		width: 90%;
	}

	.very-last {
		display: flex;
		flex-direction: column;
	}

	.soc-icon {
		margin: 1em .2em;
	}

}